{% extends "layout.html" %}
{% block content %}
<!--   <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  <p><a href="/another">Go to the other page</a></p>

  <form method="POST" action="/add">
  <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
  </form> -->


<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-9">
      <h1>Top Players Stats</h1>
    </div>
    <div class="col-sm"></div>
</div>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-3">
      <div class="content-section">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="content-section">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="content-section">
      </div>
    </div>
    <div class="col-sm"></div>
</div>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-9">
      <h1>Top Team Stats</h1>
    </div>
    <div class="col-sm"></div>
</div>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-3">
      <div class="content-section">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="content-section">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="content-section">
      </div>
    </div>
    <div class="col-sm"></div>
</div>

{% endblock content %}