{% extends "layout.html" %}
{% block content %}

{# <div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			{{p_fullname}}
		</div>
		<div class="col"></div>
	</div>
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			{{p_pos}} | {{p_team}}
		</div>
		<div class="col"></div>
	</div>
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			{{p_age}}
		</div>
		<div class="col"><a href="/players" class="btn btn-info" role="button">Pick Another Player</a></div>
	</div>
</div> #}

<a href="/comparing_players" class="btn btn-info" role="button">Pick Other Players</a>
	
<div class="row">
	<div class="col"></div>
	<div class="col">
		<table class="table-striped">
			<thead>
				<tr>
					<th>{{player_name_1}}</th>
					<th>Attributes</th>
					<th>{{player_name_2}}</th>
				</tr>
			</thead>
			<tbody>
				{% for stat1, attr, stat2 in data %}
				<tr>
					<td>{{stat1}}</td>
					<td>{{attr}}</td>
					<td>{{stat2}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col"></div>
</div>

{% endblock content %}